<HTML>
<HEAD>
<TITLE>RAINBOW</TITLE>
</HEAD>
<BODY BGCOLOR="FFFFFF">
<HR>
<a href="https://github.com/cket/rainbow">Click here</a>
to view source code in python, haskell, java, and C++
<H1></H1>
<P> {{response}}
<P> <B>Thank you for using rainbow calculator!</B>
<BR> 
<body>
<pre>
                      ___----~~~~~~----___
                 _-~~~____-----~~-----____~~~-_
              ..~.-~~--   ___------___   --~~-_~..
            .'_.~.~~---~~~  __----__  ~~~---~` ~`.`.
          .'.~ .'.~~__---~~~        ~~~---__~`.`. `_`.
         ' .'.' /'/~                        ~-.\.`. `.~.
       /'/'/'/'/'/                             `.`.`. ~.\\
     .~.~.~.~.~.~                                `..`. .`.\\
    .'.'.'.'.'.'                                   \`.`.`.``.
   | | | | | |                                      : .\ \ \ \\
 _|_|_|_|_|_|_                                       : \.`.`. .
|  G          |                                       : : : : :.
 |  O  L     |                                         :: : : :|.
 |   O  U    |                                         || | | | |.
/     D  C    \                                       .| | | | | |.
|         K   |                                       ||| || | || |
 \___________/________________________________________________________
 RAINBOWCALCULATORRAINBOWCALCULATORRAINBOWCALCULATORRAINBOWCALCULATOR
</pre>
</body>
<HR>
</BODY>
</HTML>
